:root {
    --app-less-dark: #6D7F96;
    --app-dark: #424C58;
    --app-darker: #2A2D33;
    --app-gray: #AFB7C2;
    --app-gray-font: #B3B8BC;
    --app-lightgray: #FBFAFF;
    --app-blue: #15BDD8;
    --app-green:  #31C5B1;
    --app-orange: #F68E4F;
}

.section-title {
    background-color: var(--app-blue);
}
.section-title h3 {
    padding: 10px;
    color: white;
}
.section-subtitle h5 {
    padding: 10px 15px 3px 15px;
    color: var(--app-gray);
}
.badge-pill {
    background-color: var(--app-green);
    color: white;
    padding: .75em 1em;

    font-size: .8rem;
}
.leagues-btns {
    margin-top: 70px;
}

.form-group{
    margin: .5rem .5rem .5rem 0;
}
.scheduleChanger {
    margin-left: .5rem;
}

/* Scores Section */
.row {
    margin: 0
}
.game-info-row {
    display: flex;
    justify-content: space-between;
}
.img-container {
    text-align: center;
}
.score-team-img {
    width: 35px;
}
.score-row {
    border-top: 1px solid lightgray;
    padding: 3px;
}
.section-subtitle + .section-game .score-row {
    border-top: 0;
}
.score-row>div {
    padding: 0;
}
.team-name, .team-rank, .score {
    font-size: 15px;
    margin: 0;
}
.lost {
    color: gray
}
.team-info-row {
    display: flex;
    justify-content: start;
    align-items: center;
}
.score-row p {
    font-size: 12px;
}
.quarter, .time, .network {
    font-size: 13px;
    margin: 0;
    text-align: center;
}
.quarter-container, .time-container, .network-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-info-row {
    border-left: 1px solid lightgray;
}