:root {
    --app-dark: #424C58;
    --app-darker: #2A2D33;
    --app-gray: #AFB7C2;
    --app-lightgray: #FBFAFF;
    --app-blue: #15BDD8;
    --app-green:  #31C5B1;
    --app-orange: #F68E4F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
}
body {
    min-height: 100vh;
}
.toolbar-btn, .toolbar-display-btn, .sport-btn {
    cursor: pointer;
}
nav {
    width: 100%;
    position: absolute;
    top: -66px;
    transition: top 500ms;
}
.nav-opened {
    top: 0;
}
.toolbar {
    background-color: var(--app-dark);
    border-radius: 10px;
    height: 50px;
    width: 96%;
}
.toolbar-btn {
    display: flex;
    align-items: center;
    color: white;
}
.toolbar-btn:active {
    color: var(--app-gray);
}
.toolbar-btn span {
    font-size: 2.5rem;
}
.toolbar-display-btn {
    background-color: var(--app-dark);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 22px;
    transform: rotate(0deg);
    transition: all 500ms;
}
.nav-opened .toolbar-display-btn {
    transform: rotate(180deg);
    margin-top: 0;
}
#sloth-hero {
    max-width: 80%;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px 18px;
}
h2 {
    padding: 30px;
}
.sport-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sports-btns span {
    font-size: 8rem;
    color: white;
}
.sports-btns span:active {
    color: var(--app-gray);
}
#sports_football {
    background-color: var(--app-green);
}
#sports_football:active {
    background-color: #28a695;
}
#sports_basketball {
    background-color: var(--app-orange);
}
#sports_basketball:active {
    background-color: #ba6b3c;
}